<table>
{% for employee in employees %} 
                <tbody>  
                <tr>    
                <p>
                    <td>{{ employee.firstName }} {{ employee.lastName }} {{ employee.Dob | date('d/m/Y') }} {{ employee.email }}</td>
                </p>
                </tr>
                </tbody>
{% endfor %}
</table>