{% for employee in employees %}
            <div>
                <p>
                    {{ employee.firstName }}
                </p>
                <p>
                    {{ employee.LastName }}
                </p>
            </div>     
{% endfor %}