{# templates/task/new.html.twig #}
{% extends "base.html.twig" %}
{% block body %}
{{ form(form) }}

{{ render (controller('App\\Controller\\TaskController::show')) }}

{% for message in app.flashes('notice') %}
    <div class="flash-notice">
        {{ message }}
    </div>
{% endfor %}
{% endblock %}